// General rules
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        width: 60%;
        margin: 0 auto;
        background-color: rgb(112, 11, 112);
        color: white;
        text-align: center;
    }
}

header, footer {
    font-size: 40px;
    margin: 50px 0;
    color: rgb(194, 194, 194);
}

a {
    text-decoration: black;
    color: lightgray;
    font-size: 35px;
}


ul {

    li {
        display: flex;
        margin: 15px 0;

        a {
            text-decoration: none;
            color: white;
            font-size: 25px;

            span {
                margin-left: 25px;
            }
        }
    }
}

.container-film {
    display: flex;
    flex-direction: column;

    .title, .subtitle, .release_date {
        margin: 20px 0;
        font-size: 30px;
        text-align: left;

        span {
            margin-left: 15px;
            font-size: 23px;
        }
    }
}

input {
    margin: 15px 0;
    font-size: 20px;
}

.delete {
    margin-left: 10px;
}